*{
    box-sizing: border-box;
}

html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.personalisation input{

    border:2px solid #2196f3;
    padding: 0.3em;
    margin-bottom: 0.5em;

    /* background-color: whitesmoke; */
}



.personalisation select{
    padding: 0.3em;
    border:2px solid #2196f3;
    color: #2196f3;
}

#map{
    height: 400px;
    width : 100% ;
    z-index: 1;
}
